html {
	box-sizing: border-box;
	font-family: Roboto, sans-serif;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
.hero {
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #1f2937;
}
.hero {
	color: #f9faf8;
	padding: 0 200px;
}
.header {
	display: flex;
	gap: 16px;
	justify-content: space-between;
	padding: 16px;
}
ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	gap: 16px;
}
a {
	text-decoration: none;
	color: inherit;
}
.secondary {
	color: #e5e7eb;
	font-size: 18px;
	font-weight: 500;
}
.logo {
	font-size: 24px;
	font-weight: 700;
}
.image-caption {
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	align-self: center;
	justify-content: center;
	gap: 16px;
}
h1 {
	font-size: 48px;
	font-weight: 900;
	margin-top: 16px;
}
.image-caption-content {
	flex: 0 1 500px;
}
button {
	background-color: #3882f6;
	color: #f9faf8;
	border: none;
	box-shadow: none;
	padding: 8px 16px;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 700;
}

.information {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 80vh;
	padding-top: 16px;
}
.card-wrapper {
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	gap: 32px;
	justify-content: center;
}
.card {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 6px;
	flex-grow: 0;
	flex-basis: min-content;
}
.card img {
	border: 4px solid #3882f6;
	order: -1;
	border-radius: 12px;
}
h2 {
	font-weight: 900;
	font-size: 32px;
}
.card * {
	margin: 0;
	flex-grow: 0;
}
.quote {
	display: flex;
	flex-direction: column;
	padding: 50px 400px;
	background-color: #e5e7eb;
}
.quote p {
	font-size: 36px;
	font-weight: lighter;
	font-style: italic;
	margin: 0;
}
.quote h3 {
	align-self: flex-end;
	font-size: 28px;
	font-weight: bolder;
}
.cta {
	background-color: #3882f6;
	padding: 50px 100px;
	display: flex;
	margin: 150px 200px;
	color: #f9faf8;
	border-radius: 5px;
}
.cta-content {
	max-width: 600px;
}
.cta button {
	margin-left: auto;
	border: 2px solid #f9faf8;
	align-self: center;
}
.footer {
	background-color: #1f2937;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	color: #f9faf8;
}
